<html>
	<head>
		<title>Thakur's Wedding Gallery</title>
		<%= stylesheet_link_tag "reset" %>
	    <%= stylesheet_link_tag "style" %>
	    <%= stylesheet_link_tag "grid" %>

	    
	</head>
	<body>

		
		<%= javascript_include_tag "jquery-1.6.2.min" %>
	    <%= javascript_include_tag "jquery.galleriffic" %>
	    <%= javascript_include_tag "jquery.opacityrollover" %>   
	    <%= javascript_include_tag "scripts" %>
	</body>
</html>