<html lang="en">
    <head>
        <title><%= set_root_title "Index" %></title>
        <meta charset="utf-8">
        
        <%= stylesheet_link_tag "reset" %>
        <%= stylesheet_link_tag "style" %>
        <%= stylesheet_link_tag "grid" %>
    </head>
    <body id="page1">
        <!-- <div id="fb-root"></div> -->
            <!-- <script>
                (function(d, s, id){
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script> -->
            
            <div id="fb-root"></div>
            <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=443740639003633";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
    	<!--==============================header=================================-->
        <header>
        	<div class="row-1">
            	<div class="main">
                	<div class="container_12">
                    	<div class="grid_12">
                        	<nav>
                                <ul class="menu">
                                    <div class='menuListItemsDiv'>
                                        <div class='menuListItemsClass'>
                                            <li>
                                                <%= link_to "Home", :controller => 'home', :action => 'index' %>    
                                            </li>
                                        </div>
                                        <div class='menuListItemsClass'>
                                            <li>
                                                <%= link_to "Gallery", :controller => 'home', :action => 'gallery' %>    
                                            </li>
                                            
                                        </div>
                                        <div class='menuListItemsClass'>
                                            <li>
                                                <%= link_to "Story", :controller => 'home', :action => 'story' %>    
                                            </li>
                                        </div>
                                        <div class='menuListItemsClass'>
                                            <li>
                                                <%= link_to "Contact Us", new_post_path %>    
                                            </li>
                                        </div>
                                        <div class='menuListItemsClass'>
                                            <li>
                                                <%= link_to "Invitation", :controller => 'home', :action => 'invitation_view' %>    
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row-2">
            	<div class="main">
                	<div class="container_12">
                    	<div class="grid_9">
                        	<h1>
                                <a class="logo" href="index.html">Th<strong>a</strong>kur's</a>
                                <span>Wedding</span>
                            </h1>
                        </div>
                        <div class="grid_3">
                        	<form id="search-form" method="post" enctype="multipart/form-data">
                                <fieldset>	
                                    <div class="search-field">
                                        <input name="search" type="text" />
                                        <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"><span>search</span></a>	
                                    </div>						
                                </fieldset>
                            </form>
                         </div>
                         <div class="clear"></div>
                    </div>
                </div>
            </div>    	
        </header>
        
    <!-- content -->
        <section id="content">
            <div class="bg-top">
            	<div class="bg-top-2">
                    <div class="bg">
                        <div class="bg-top-shadow">
                            <div class="main">
                                <div class="gallery p3">
                                	<div class="wrapper indent-bot">
                                        <div id="gallery" class="content">
                                           <div class="wrapper">
                                               <div class="slideshow-container">
                                                    <div id="slideshow" class="slideshow"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="thumbs" class="navigation">
                                            <ul class="thumbs noscript">
                                                <li>
                                                   <a class="thumb" href="/assets/gallery-img1.jpg" title=""> <img src="/assets/thumb-1.jpg" alt="" width="140" height="121"/><span></span> </a>
                                                </li> 
                                                <li>
                                                   <a class="thumb" href="/assets/gallery-img2.jpg" title=""> <img src="/assets/thumb-2.jpg" alt="" width="140" height="121"/><span></span> </a>
                                                </li> 
                                                <li>
                                                    <a class="thumb" href="/assets/gallery-img3.jpg" title=""> <img src="/assets/thumb-7.jpg" alt="thumb-3" width="140" height="121"/><span></span> </a>
                                                </li> 
                                                <li>
                                                    <a class="thumb" href="/assets/gallery-img4.jpg" title=""> <img src="/assets/thumb-8.jpg" alt="" width="140" height="121"/><span></span> </a>
                                                </li> 
                                                <li>
                                                    <a class="thumb" href="/assets/gallery-img5.jpg" title=""> <img src="/assets/thumb-9.jpg" alt="" width="140" height="121"/><span></span></a>
                                                </li> 
                                                <li>
                                                    <a class="thumb" href="/assets/gallery-img6.jpg" title=""> <img src="/assets/thumb-10.jpg" alt="" width="140" height="121"/><span></span></a>
                                                </li>           
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="wrapper">
                                            <span class="title img-indent3">Thakur's Wedding</span>
                                            <div class="extra-wrap indent-top2">
                                            	<strong>Hi Friends.</strong>
                                                Welcome to our website! This website chronicles all those special moments that are yet to unfold, for  Nupur and Me, on the way to the altar as we are preparing to say 'I do ' .   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="bg-bot">
            	<div class="main">
                	<div class="container_12">
                    	<div class="wrapper">
                        	
                            <p class="countDownHeader">CountDown</p>
                            <article id="countdown-container" class="grid_4">
                                
                            </article>
                            <div class="countDownTimerClass">
                                <p class="daysCount">Days</p>
                                <p class="hoursCount">Hours</p>
                                <p class="minutesCount">Min</p>
                                <p class="secondsCount">Sec</p>
                            </div>
                            
                            <article class="whatsNewDiv">
                            	<h3 class="prev-indent-bot">What’s New?</h3>
                                <time class="tdate-1" datetime="2011-08-15"><a class="link" href="#">15.08.2011</a></time>
                                <p class="prev-indent-bot">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
                                <time class="tdate-1" datetime="2011-08-11"><a class="link" href="#">11.08.2011</a></time>
                                Totam rem aperiam, eaque ipsa quae ab illo inven tore veritatis et quasi architecto.
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    	<!--==============================footer=================================-->
        <footer>
            <div class="main">
            	<div class="container_12">
                	<div class="wrapper">
                    	
                        <div class="phoneNumberClass">
                            <span class="phoneCodeSpan">+91</span>
                            <span class="phoneNumberSpan"> 99493 90335</span>
                        </div>
                        <div class="fbItemClass">
                        	<ul class="list-services">
                            	<li>
                                    <div class="fb-like" data-href="http://www.amarwedsnupur.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui"></div>
                                    <!-- <div class="fb-like" data-href="http://arcane-thicket-8918.herokuapp.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="trebuchet ms"></div> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <%= javascript_include_tag "jquery-1.6.2.min" %>
        <%= javascript_include_tag "jquery.galleriffic" %>
        <%= javascript_include_tag "misc" %>
        <%= javascript_include_tag "jquery.countdown" %>
        <%= javascript_include_tag "jquery-Countdown-1.0" %>
        <%= javascript_include_tag "jquery.opacityrollover" %>   
        <%= javascript_include_tag "scripts" %>
            
        <script type="text/javascript">
        
            (function(){
                var selectTime = new Date(calculateTimeTillWedding());
                console.log("time: " +selectTime);
                
                $('#countdown-container').countdown({
                  image: '/assets/digits.png',
                  startTime: ''+Math.floor(numDays)+''+numHours+''+numMin+''+numSec
                });
            })();    
            
            function calculateTimeTillWedding(){
                var now = new Date();
                var mDate = new Date("2012", "11", "07", "20", "27", "00", "00");
                console.log("now: " +now.getTime());
                console.log("mDate: " +mDate.getTime());
                var time = mDate.getDate() - now.getDate();
                return time; 
            }
            
        </script>
        
            
        <!-- End of Script for Count Down Timer -->
        
    </body>
</html>