<html>
	<head>
		<title><%= set_root_title "Invitation" %></title>
		<%= stylesheet_link_tag "invitation_css" %>
		<%= stylesheet_link_tag "style" %>		
	</head>
	<body>
		<!--==============================header=================================-->
    <header>
    	<div class="row-1">
        	<div class="main">
            	<div class="container_12">
                	<div class="grid_12">
                    	<nav>
                            <ul class="menu">
                                <div class='menuListItemsDiv'>
                                    <div class='menuListItemsClass'>
                                        <li>
                                            <%= link_to "Home", :controller => 'home', :action => 'index' %>    
                                        </li>
                                    </div>
                                    <div class='menuListItemsClass'>
                                        <li>
                                            <%= link_to "Gallery", :controller => 'home', :action => 'gallery' %>    
                                        </li>
                                        
                                    </div>
                                    <div class='menuListItemsClass'>
                                        <li>
                                            <%= link_to "Story", :controller => 'home', :action => 'story' %>
                                        </li>
                                    </div>
                                    <div class='menuListItemsClass'>
                                        <li>
                                            <%= link_to "Contact Us", new_post_path %>    
                                        </li>
                                    </div>
                                    <div class='menuListItemsClass'>
                                        <li>
                                            <%= link_to "Invitation", :controller => 'home', :action => 'invitation_view' %>    
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="row-2">
        	<div class="main">
            	<div class="container_12">
                	<div class="grid_9">
                    	<h1>
                            <a class="logo" href="index.html">Th<strong>a</strong>kur's</a>
                            <span>Wedding</span>
                        </h1>
                    </div>
                    <div class="grid_3">
                    	<form id="search-form" method="post" enctype="multipart/form-data">
                            <fieldset>	
                                <div class="search-field">
                                    <input name="search" type="text" />
                                    <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"><span>search</span></a>	
                                </div>						
                            </fieldset>
                        </form>
                     </div>
                     <div class="clear"></div>
                </div>
            </div>
        </div>    	
    </header>
    
		<vr></vr>
		<!-- <div id="leftDiv">
			<h3>Wedding Invitation</h3>
			
		</div> -->
		
		<div class="bodyDiv">
			<div class="invitationDiv">
			 	<p class="invitationParagraph"> <span class="nameHeaderClass">Invitation</span>
			 	<br>I am glad to share the Good News of
				<br>my Wedding with
				<div class='nameClass'>Nupur</div>
				<br>on 7th December, 2012 at 08:27 pm.
				<br>Please consider this as a personal invitation,
				<br>as I am preparing to walk down the aisle
				<br>and begin a new chapter in my Life.
				<br>Bless our Marriage with your Presence.<br>
				<br>Venue:
				<br>Katkar Mangal Function Hall,
				<br>Near Khamidkar Apartments, Murarjipet, Solapur.<br>
				<br>Reception:
				<br>9th December, 2012, 6.00pm onwards
				<br>at Chichond, Adilabad Dist
				<br>Call me @ 9949390335
				<br>Thanks
				<div class='nameClass'>Thakur Amarsingh Chauhan</div>
			</div> 
		</div>
		
		 
		 
		
		<!--==============================footer=================================-->
	    <footer>
            <div class="main">
            	<div class="container_12">
                	<div class="wrapper">
                    	<!-- <div class="grid_4">
                        	<div>Interior Design &copy; 2011 <a class="link color-3" href="#">Privacy Policy</a></div>
                            <div><a rel="nofollow" target="_blank" href="http://www.templatemonster.com/">Website Template</a> by TemplateMonster.com | <a rel="nofollow" target="_blank" href="http://www.html5xcss3.com/">html5xcss3.com</a></div> -->
                            <!-- {%FOOTER_LINK}
                        </div> -->
                        <div class="phoneNumberClass">
                            <span class="phoneCodeSpan">+91</span>
                            <span class="phoneNumberSpan"> 99493 90335</span>
                        </div>
                        <div class="fbItemClass">
                        	<ul class="list-services">
                            	<li>
                                    <div class="fb-like" data-href="http://arcane-thicket-8918.herokuapp.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="trebuchet ms"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		
	    <%= javascript_include_tag "scripts" %>
		
	</body>
</html>