<html>
	<head>
		<title><%= set_root_title "Story" %></title>
		<%= stylesheet_link_tag "story_style" %>
		
	</head>
	<body>
	
		<header>
	    	<div class="row-1">
	        	<div class="main">
	            	<div class="container_12">
	                	<div class="grid_12">
	                    	<nav>
	                            <ul class="menu">
	                                <div class='menuListItemsDiv'>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Home", :controller => 'home', :action => 'index' %>    
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Gallery", :controller => 'home', :action => 'gallery' %>    
	                                        </li>
	                                        
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Story", :controller => 'home', :action => 'story' %>    
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Contact Us", new_post_path %>    
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Invitation", :controller => 'home', :action => 'invitation_view' %>    
	                                        </li>
	                                    </div>
	                                </div>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	                <div class="clear"></div>
	            </div>
	        </div>
	        <div class="row-2">
	        	<div class="main">
	            	<div class="container_12">
	                	<div class="grid_9">
	                    	<h1>
	                            <a class="logo" href="index.html">Th<strong>a</strong>kur's</a>
	                            <span>Wedding</span>
	                        </h1>
	                    </div>
	                    <div class="grid_3">
	                    	<form id="search-form" method="post" enctype="multipart/form-data">
	                            <fieldset>	
	                                <div class="search-field">
	                                    <input name="search" type="text" />
	                                    <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"><span>search</span></a>	
	                                </div>						
	                            </fieldset>
	                        </form>
	                     </div>
	                     <div class="clear"></div>
	                </div>
	            </div>
	        </div>    	
	    </header>
		<p>
			
			<p class="wish">
				Hi Friends
			</p>

			<p class="firstRow">
				Welcome to our wedding website! This website chronicles all those special moments that are yet to unfold, for Nupur and I, on the way to the altar, as we are preparing to say 'I do ' .
			</p>

			<p class="secondRow">
				We are happy to share all the special moments as they happen in the coming days. We invite you to share in the special moments that will transpire before we tie the knot.
			</p>

			<p class="secondRow">
				We are visibly very excited, you can see that in the pictures! We want to keep you updated as the countdown has begun for Us before we become Man and Wife.

				We would appreciate your gracious presence at our wedding. 
			
			<p class="secondRow">
				<strong> And then I heard the wedding bells. </strong>
				This is my side of the story! I have been waiting for a girl who will be there for me, in both good as well as bad times.We met at my sister's place and I knew right away Nupur was the girl I've been waiting for. Yes, I did hear wedding bells and knew we were meant for each other. I am happy to have Nupur as my life partner to share the rest of my life.
			</p>
			 
			<p class="secondRow">
				<strong>Finally here comes my Prince Charming: </strong>
				Every girl grows up with the notion that someday her Prince Charming will come riding on a horse and sweep her off her feet. Then both of them will ride into the Sunset and live happily ever after. 
				The first chapter to my Fairy Tale took off the moment I saw my soulmate and knew he is THE ONE! My wait for that someone special is finally over. 
			 </p>
			 
			 
			<p class="secondRow">
				My Prince will actually come on a real horse to seek my hand in marriage. As I wait for my dream to unfold,  I  will cherish every moment on my way to the altar. The anxious moments, the long phone conversations, the shopping, planning for my life ahead!! My life is changing for the better and I can't wait for my 'D' Day to arrive.
			</p>

			<p class="secondRow">
				<strong>Match made in heaven:</strong> Elders from both sides of the family met and everything fell into place. We believe we are meant for each other.
			</p>
			
			<p class="secondRow">
				Leave a blessing for us! Your heartfelt wishes would mean a lot to both of us.
			</p>
						
	</body>
	
	<footer>
        <div class="main">
        	<div class="container_12">
            	<div class="story_wrapper">
                    <div class="phoneNumberClass">
                        <span class="phoneCodeSpan">+91</span>
                        <span class="phoneNumberSpan"> 99493 90335</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
</html>