<html>
	<head>
		<meta charset="utf-8">
		<title><%= set_root_title "Wish Us" %></title>
	    <%= stylesheet_link_tag "reset" %>
	    <%= stylesheet_link_tag "style" %>
	    <%= stylesheet_link_tag "grid" %>

	    <%= javascript_include_tag "jquery-1.6.2.min" %>
	    	    
	</head>

       
	<body id="page5">
		
		<!--==============================header=================================-->
	    <header>
	    	<div class="row-1">
	        	<div class="main">
	            	<div class="container_12">
	                	<div class="grid_12">
	                        <nav>
	                            <ul class="menu">
	                                <div class='menuListItemsDiv'>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Home", :controller => 'home', :action => 'index' %>    
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Gallery", :controller => 'home', :action => 'gallery' %>    
	                                        </li>
	                                        
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Story", :controller => 'home', :action => 'story' %>
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Contact Us", new_post_path %>    
	                                        </li>
	                                    </div>
	                                    <div class='menuListItemsClass'>
	                                        <li>
	                                            <%= link_to "Invitation", :controller => 'home', :action => 'invitation_view' %>    
	                                        </li>
	                                    </div>
	                                </div>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	                <div class="clear"></div>
	            </div>
	        </div>
	        <div class="row-2">
	        	<div class="main">
	            	<div class="container_12">
	                	<div class="grid_9">
	                    	<h1>
	                            <a class="logo" href="index.html">Th<strong>a</strong>kur's</a>
	                            <span>Wedding</span>
	                        </h1>
	                    </div>
	                    <div class="grid_3">
	                    	<form id="search-form" method="post" enctype="multipart/form-data">
	                            <fieldset>	
	                                <div class="search-field">
	                                    <input name="search" type="text" />
	                                    <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"><span>search</span></a>	
	                                </div>						
	                            </fieldset>
	                        </form>
	                     </div>
	                     <div class="clear"></div>
	                </div>
	            </div>
	        </div>    	
	    </header>
	    
	<!-- content -->
	    <section id="content">
	        <div class="bg-top">
	        	<div class="bg-top-2">
	                <div class="bg">
	                    <div class="bg-top-shadow">
	                        <div class="main">
	                            <div class="box">
	                                <div class="padding">
	                                    <div class="container_12">
	                                        <div class="wrapper">
	                                            <div class="grid_12">
	                                            	<div class="indent-left">
	                                                	<h3 class="p2">Send your Warm Wishes</h3>
	                                                	<%= form_for @post do |f| %>
		                                                	<% if @post.errors.any? %>
			                                                	<div class="errorDiv">
				                                                	<ul>
			                                                			<% @post.errors.full_messages.each do |err| %>
			                                                				<li><%= err %></li>
				                                                		<% end %>
				                                                	</ul>
			                                                	</div>
		                                                	<% end %>
	                                                		<p>
	                                                			<%= f.label :name %> <br>
	                                                			<%= f.text_field :name %>
	                                                		</p>
	                                                		<p>
	                                                			<%= f.label :email %> <br>
	                                                			<%= f.text_field :email %>
	                                                		</p>
	                                                		<p>
	                                                			<%= f.label :message %> <br>
	                                                			<%= f.text_area :message, :size => "110x12" %>
	                                                		</p>	
		                                                			
	                                                		<div class="buttons">
                                                                <!-- <a class="button" href="#" onClick="document.getElementById('contact-form').reset()">Clear</a> -->
	                                                			<%= f.submit "Wish Us", :class => 'button' %>
															</div>
	                                                	<% end %>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>	
	        </div>
	        <div class="bg-bot">
	        	<div class="main">
	            	<div class="container_12">
	                	<div class="wrapper">
	                    	<article class="grid_3">
	                        	<h3 class="prev-indent-bot">Our Address</h3>
	                            <dl>
	                                <dt class="indent-bot">
		                                Katkar Mangal Function Hall, 
		                                <br>Near Khamidkar Apartments,
		                                <br> Murarjipet, 
										<br> Solapur.
										<br>
									</dt>
	                                <dd><strong>Phone:</strong> +91 9949390335</dd>
	                                <dd><strong>E-mail:</strong> <a href="mailto:amarsingh.chavan@gmail.com">amarsingh.chavan@gmail.com</a></dd>
	                            </dl>
	                        </article>
	                        <h3 class="wishHeader">Wishes</h3>
	                        <div class="wisherListDiv">
	                            <% unless @posts.blank? %>
	                            	<% @posts.each do |post| %>
		                            	<div class="<%= cycle("wishWrapperOdd", "wishWrapperEven") %>">
			                            	<div class="wisherDiv"><strong><%= post.name %></strong> says:</div>
			                            	<div class="wishDiv"><%= post.message %></div>
		                            	</div>
		                            	<br>
	                            	<% end %>
	                            <% end %>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>

	    <script>
	    	jQuery(document).ready(function($){
	    		
	    	});
	    </script>
  
	</body>
	
	<footer>
        <div class="main">
        	<div class="container_12">
            	<div class="wrapper">
                    <div class="phoneNumberClass">
                        <span class="phoneCodeSpan">+91</span>
                        <span class="phoneNumberSpan"> 99493 90335</span>
                    </div>
                    <div class="fbItemClass">
                    	<ul class="list-services">
                        	<li>
                                <div class="fb-like" data-href="http://arcane-thicket-8918.herokuapp.com/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="trebuchet ms"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	
	
</html>